---
---

@import "{{ site.theme }}";

a {font-weight: 500;}
a:hover,a:focus {font-weight: 500; text-decoration: underline; background: lightcyan;}
// header p.view {display:none}
// footer p {display: none;}
// footer p small {display: block;}
h1,h2,h3,h4,h5,h6 {font-weight: 500;}
p.social {text-align: right;}
ul.social {list-style: none;text-align: right;}
ul.social li {display: inline-block;font-variant: all-small-caps; font-size: 1.1em;padding: 0.1em;background: aliceblue;}
ul.social li:hover {background: lightcyan;}
ul.social li a {font-weight: 600;}

